/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1338BE;
}

.div-busqueda{
    padding: 5px 5px;
    text-align: center;
}
  
.div-busqueda input{
    width: 350px;
    padding: 5px;
    margin: 1px 5px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
}
  
.div-busqueda button{
    padding: 5px 20px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
    background-color: white;
    color: #1338BE;
    border: none;
    border-radius: 7px;
}
.div-busqueda button:hover {
    border: 2px black solid
}

.container{
    margin: 5px 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.div-nombre{
    padding: 5px 5px
}

.div-nombre p{
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
    text-align: center;
    color: white;
}

.div-nombre span{
    font-weight: bold;
    color: white;
}

.select1{
    display: flex;
    align-items: center;
    padding: 5px 32vw;
}

.select2{
text-align: center;
}

.select2 select{
    font-size: 24px;
    font-family: 'Titillium Web', sans-serif;
}
.container img{
    padding: 1px 2vw;
    border: 2px #1338BE solid;
    border-radius: 20px;
}

 h1,p{
    font-size: 32px;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    text-align: center;
 }